@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #fff;
}
body {
    background-color: #181818;
}
a {
    text-decoration: none;
    color: #fff;

}
.container {
    width: 1100px;
    margin: 0 auto;
}
/*------------------header__nav------------------*/

.header__nav {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.nav__logo {
    width: inherit;
    margin-right: 134px;
}
.nav__menu {
    display: flex;
    gap: 51px;
    font-weight: 500;
    font-size: 16px;
}

.nav__link {
    list-style: none;
}
.nav__link a {
    transition: .4s ease;
}
.nav__link a:hover {
    color: #02E4C0;
    transition: .4s ease;
}

.nav__button {
    margin-left: 175px;
}
.nav__button button {
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 36px;
    font-size: 17px;
    cursor: pointer;
    background-color: transparent;

    transition: .3s ease-in-out;
}
.nav__button button:hover {
    transform: translateY(-2px);
    transition: .3s ease-in-out;
}

/*------------------header__bottom------------------*/

.header__bottom {
    margin-top: 130px;
    text-align: center;
    position: relative;
}
.header__bottom h1 {
    font-size: 80px;
    font-weight: 500;
    margin: 0;
}
#changing {
    color: #02E4C0;
}
.header__bottom p {
    font-size: 20px;
    margin-bottom: 75px;
    font-weight: 400;
}

/* bottom-buttons */
.header__bottom-buttons {
    display: flex;
    justify-content: center;
    gap: 35px;
}
.header__bottom-buttons button:nth-child(1) {
    border: 1px solid #4452FE;
    color: #fff;
    padding: 20px 40px;
    font-size: 17px;
    cursor: pointer;
    background-color: #4452FE;

    transition: .3s ease-in-out;
}
.header__bottom-buttons button:nth-child(2) {
    border: 1px solid #fff;
    color: #fff;
    padding: 20px 40px;
    font-size: 17px;
    cursor: pointer;
    background-color: transparent;

    transition: .3s ease-in-out;
}
.header__bottom-buttons button:nth-child(1):hover {
    background-color: #4578FB;
    border: 1px solid #4578FB;
}
.header__bottom-buttons button:hover {
    transform: translateY(-2px);
    transition: .3s ease-in-out;
}

.header__img-big img{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*------------------features------------------*/

.features {
    margin: 100px 0;
}
.features__text {
    text-align: center;
}
.features__text h1 {
    font-size: 72px;
    margin-bottom: 27px;
}
.features__text p {
    font-size: 20px;
}
/* features__content */
.features__content {
    margin-top: 80px;
    display: flex;
    position: relative;
}
.features__content-img img:last-child {
    position: absolute;
    top: 465px;
    left: 59px;
}
.features__content-img .anim-circle {
    position: absolute;
    left: 60px;
    top: 465px;
    animation: rotation 10s linear infinite;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* features__aside */
.features__content-aside {
    margin-top: 30px;
}
.aside__row {
    margin-bottom: 87px;
}
.aside__row-text h1 {
    font-size: 20px;
    margin: 16px 0 26px 0;
}
.aside__row-text p {
    font-size: 16px;
    font-weight: 400;
}

/*------------------contents------------------*/

.contents {
    margin-bottom: 210px;
}
.contents__text {
    text-align: center;
}
.contents__text h1 {
    font-size: 52px;
    font-weight: 400;
}
.contents__text p {
    margin-bottom: 54px;
    font-size: 20px;
    font-weight: 400;
}

.content__cards {
    display: flex;
    justify-content: center;
    column-gap: 33px;
}
/* content__card */
.content__card {
    width: 476px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.content__card-text {
    text-align: center;
}
.content__card-text h3  {
    color: #000;
    font-size: 20px;
    margin: 50px 0 30px 0;
}
.content__card-text p {
    color: #5C5C5C;
}

.content__card button {
    width: 157px;
    border: 1px solid #4452FE;
    color: #fff;
    padding: 20px 40px;
    font-size: 14px;
    cursor: pointer;
    background-color: #4452FE;
    margin: 40px auto 30px auto;

    transition: .3s ease-in-out;
}
.content__card button:hover {
    transition: .3s ease-in-out;
    transform: translateY(-2px);
    background-color: #4578FB;
    border: 1px solid #4578FB;
}

.content__card img:nth-child(1) {
    width: 406px;
    height: 227px;
}
.content__card img:nth-child(2) {
    width: 379px;
    height: 276px;
}

/*------------------contents------------------*/

.gallery {
    margin-bottom: 160px;
}

.wrapper {
    width: 1220px;
    margin: 0 auto;
}

.gallery__text {
    text-align: center;
    margin-bottom: 54px;
}

.gallery__text h1 {
    font-weight: 400;
    font-size: 52px;
}
.gallery__text p {
    font-weight: 400;
    font-size: 20px;
}

.gallery__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 33px;
}
.gallery__content img {
    border-radius: 12px;
}

.gallery__content-right {
    display: grid;
    grid-gap: 33px;
    grid-template-areas: 
    "a a a a a a"
    "b b b c c c"
    "d d e e f f"
    ;
}
.gallery__content-right img:nth-child(1){
    grid-area: a;
}
.gallery__content-right img:nth-child(2){
    grid-area: b;
}
.gallery__content-right img:nth-child(3){
    grid-area: c;
}
.gallery__content-right img:nth-child(4){
    grid-area: d;
}
.gallery__content-right img:nth-child(5){
    grid-area: e;
}
.gallery__content-right img:nth-child(6){
    grid-area: f;
}

/*------------------partners------------------*/

.partners {
    margin-bottom: 100px;
}
.partners__text {
    text-align: center;
    margin-bottom: 60px;
}
.partners__text h1 {
    font-size: 52px;
    font-weight: 400;
}
.partners__text p {
    font-size: 20px;
    font-weight: 400;
}

.partners__images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

/*------------------reviews------------------*/

.reviews {
    margin-bottom: 100px;
}

.reviews__title {
    text-align: center;
}
.reviews__title h1 {
    font-size: 52px;
    font-weight: 400;
}

/* reviews__card */

.reviews__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.reviews__card {
    border: 1px solid #5C5C5C;
    border-radius: 10px;
}

.reviews__card-top {
    padding: 40px 40px 30px 40px;
    display: flex;
}

.card__top-text {
    margin-left: 13px;
    display: flex;
    flex-direction: column;
}

.card__top-name {
    color: #02E4C0;
}

.reviews__card-desc {
    padding: 0 56px 40px 40px;
    width: 61%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/*------------------example------------------*/

.example {
    margin-bottom: 100px;
}
.example__content {
    display: flex;
    background-color: #343434;
    border-radius: 33px;
    overflow: hidden;
}
.left__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.left__content-title h1 {
    font-weight: 400;
    font-size: 42px;
    margin: 0 0 50px 0;
    width: 80%;
}
.left__content-button button {
    border: 1px solid #4452FE;
    color: #fff;
    padding: 13px 67px;
    font-size: 17px;
    cursor: pointer;
    background-color: #4452FE;

    transition: .3s ease-in-out;
}
.left__content-button button:hover {
    transition: .3s ease-in-out;
    transform: translateY(-2px);
    background-color: #4578FB;
    border: 1px solid #4578FB;
}


.rigth__content img {
    width: 453px;
    height: 100%;
}
/*------------------map------------------*/
#map {
    height: 500px;
    width: 100%;       
    border-radius: 10px; 
}

/*------------------footer------------------*/

.footer {
    margin: 220px 0 100px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;

}
.footer__nav {
    display: flex;
    column-gap: 75px;
}
.footer__nav h1 {
    font-size: 20px;
    margin-bottom: 24px;
}
.footer__nav div {
    list-style: none;
}
.footer__nav ul {
    padding: 0; 
    list-style: none;
}
.footer__nav li {
    margin-bottom: 19px;
    opacity: 0.7;
}
.footer__nav li:hover {
    opacity: 1;
    font-weight: 500;
}

/* footer__info */

.footer__info {
    display: flex;
    flex-direction: column;
}
.footer__info-location {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}
.footer__info-location a {
    margin-right: 22px;
}

.footer__info-phone {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.footer__info-phone a {
    margin-right: 22px;
}
.footer__info-phone img {
    width: 30px;
    height: 35px;
}

.footer__info-socials {
    display: flex;
    align-items: center;
}
.footer__info-socials img {
    margin-right: 27px;
    transition: .3s ease-in-out;
}
.footer__info-socials img:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
}